.sidebar {
    background-color: white;
    padding: 20px;
}

.main-content {
    background-color: #F5F9F1;
}

.logo img {
    width: 120px;
}

.profile-image {
    width: 40px;
}

.navigation {
    margin-top: 0;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    display: block;
    color: #333;
    text-decoration: none;
}

.has-submenu .submenu {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
}

.has-submenu:hover .submenu {
    display: block;
}

.content-section {
    display: none;
    margin-top: 20px;
}

.active {
    display: block;
}

.sub-content-section {
    display: none;
    margin-top: 10px;
}


/*=======================================================*/

.first-row .card,
.second-row .card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    padding: 20px;
    text-align: start;
    border-radius: 20px;
    border-color: white;
}

.card-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-content {
    margin-top: 20px;
}

.second-row .progress-display-img {
    align-items: center;
    text-align: center;
    padding: 60px 20px 60px 20px;
}

.second-row .progress-display-img .set-target {
    width: 120px;
    padding: 8px 20px 8px 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #6CC51D;
}

.second-row .progress-display-img .set-target:hover {
    background-color: #6CC51D;
    color: white;
}

.second-row .fa-running {
    color: #FF9432;
}

.second-row .fa-bicycle {
    color: #1EA7C5;
}

.second-row .fa-spa {
    color: rgb(247, 154, 247);
}

.second-row .button-timing .drop-down-timing {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: #6CC51D;
    background-color: transparent;
}

.button-timing .drop-down-timing {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: #6CC51D;
    background-color: transparent;
}

.second-row .button-timing .drop-down-timing {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: #6CC51D;
    background-color: transparent;
}

.second-row .button-timing .dropdown-card {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.second-row .button-timing .drop-down-timing {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: #6CC51D;
    background-color: transparent;
}

.dropdown-card {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-card ul li {
    cursor: pointer;
    padding: 5px;
}

.dropdown-card ul li:hover {
    background-color: #e5e5e5;
}

.second-row .card .img-statistical-display {
    padding-top: 20px;
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Desktop and Laptop View*/

@media (min-width: 768px) {
    .first-row {
        margin-bottom: 20px;
    }
    .first-row .card {
        width: 205px;
        height: 200px;
    }
    .second-row {
        margin-bottom: 20px;
    }
    .second-row .first-card .card {
        height: 450px;
    }
    .second-row .card .img-statistical-display img {
        height: 300px;
        width: 600px;
        align-items: center;
    }
    .second-row .progress-display-img img {
        width: 150px;
        height: 150px;
    }
    .second-row .second-card .card {
        height: 450px;
    }
}


/*Mobile View*/

@media (max-width: 767px) {
    .first-row {
        margin: 20px;
    }
    .first-row .card {
        width: 205px;
        margin-bottom: 20px;
    }
    .second-row .progress-display-img img {
        width: 100px;
        height: 100px;
    }
    .second-row .second-card {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}