body {
    background-color: rgb(233, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'monospace', roboto;
}

.card_rs_01 hr {
    color: rgb(233, 233, 233);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card_rs_01 {
    background-color: white !important;
    border-radius: 20px;
    padding: 30px;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 18px;
    border-color: grey;
    border-width: 3px;
    border-style: solid;
}

.step.completed {
    color: white;
    background-color: #6CC51D;
    border: none;
}

.step-content {
    display: none;
}

.step-content.active {
    display: block;
}

.form-group {
    margin-bottom: 10px;
}

.circular-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.circular-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular-button i {
    font-size: 24px;
    margin-bottom: 5px;
}

.circular-button span {
    font-size: 14px;
}

p {
    margin-bottom: 10px;
}

.skip-link {
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.NameGroup {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    align-items: center;
}

.day {
    margin-right: 10px;
}

.time-input {
    margin-right: 10px;
}

button {
    margin-left: 10px;
}

.form-buttons button {
    width: 80px;
    padding: 6px 4px;
    background-color: #6CC51D;
    border-radius: 2px;
    border: none;
    color: white;
}

.final-step .circular-button:hover {
    background-color: lightskyblue;
    color: white !important;
}

.final-step .circular-button i {
    color: grey;
    padding-top: 40px;
    padding-bottom: 10px;
}

.final-step .circular-button i:hover {
    color: white;
}

.final-step-content {
    padding: 20px;
    text-align: center;
}

.final-step-content .skip-link {
    color: #6CC51D;
}


/*Desktop and Laptop View*/

@media (min-width: 768px) {
    .card_rs_01 {
        margin: 50px 50px;
        width: 90%;
        height: 500px;
    }
    .steps {
        margin: 30px 70px 40px 70px;
    }
    .NameGroup input {
        width: 500px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .step-content .day {
        width: 200px;
        margin-bottom: 30px;
    }
    .step-content .day input {
        height: 40px;
    }
    .final-step {
        margin: 50px 120px 50px 120px;
    }
    .final-step .circular-button {
        width: 140px;
        height: 140px;
        background-color: azure;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        box-shadow: rgb(0, 0, 0, 0.1);
    }
}


/*Mobile View*/

@media (max-width: 767px) {
    .card_rs_01 {
        margin: 50px;
        width: 90%;
        height: 100%;
    }
    .steps {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .NameGroup {
        flex-direction: column;
    }
    .form-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .step-content .day {
        margin-bottom: 20px;
    }
    .final-step .circular-button {
        width: 60px;
        height: 150px;
        background-color: azure;
        border-radius: 10px;
        text-align: center;
        margin-right: 5px;
        box-shadow: rgb(0, 0, 0, 0.1);
    }
}